/* src/Kanbas/Courses/Status.css */
#wd-course-status {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button-row {
  display: flex;
  gap: 10px; 
  margin-bottom: 
}

button {
  margin-bottom: 5px;
}
