body {
  margin: 0;
  padding: 0;
}

body * {
  font-family: Arial, Helvetica, sans-serif;
}

#wd-kanbas-navigation {
  width: 120px;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background-color: black;
}

#inner-sidebar {
  width: 200px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 120px;
  z-index: 900;
  background-color: white;
}

#inner-content {
  margin-left: 320px;
  padding: 20px;
}

@media (min-width: 768px) {
  .wd-main-content-offset {
    padding-left: 140px !important;
  }
}

.btn-secondary {
  --bs-btn-color: #000;
  --bs-btn-bg: #c7cdd1;
  --bs-btn-border-color: #c7cdd1;
  --bs-btn-hover-color: #fff;
}

.bg-secondary {
  background-color: #c7cdd1 !important;
}

.border-gray {
  border: 1px solid gray;
}

.new-btn {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
