#wd-landing-page {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  #wd-landing-page h1, #wd-landing-page h2 {
    text-align: center;
  }
  
  #wd-landing-page ul {
    list-style-type: none;
    padding: 0;
  }
  
  #wd-landing-page ul li {
    margin: 10px 0;
  }
  
  #wd-landing-page ul li a {
    color: #007acc;
    text-decoration: none;
  }
  